<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
    <!-- mensagens anonimas, anônimo, anônima, cartões virtuais, cards, telemensagens, avisar, peludo, pêlos, piolhos, calvície, mau halito, mal halito, chulé, detetive, gases, flatulencia, caspa, acne, espinhas, namoro, namorada, namorado, professor, chefes, mania, dedo duro, estresse, stress, chato, emagrecer, pelos na orelha, pêlos, sujo, cara de pau, xingar, almofadinha, estressado, estúpido, fedido, fedor, cafona, nutrição, psiquiatra, nervosismo, depilação, saúde, beleza, amigos, amizade, serviço, mulheres, homens, sexo, dinheiro, testes, grana, fácil -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Warn A Broda</title>        
        <meta name="viewport" content="width=device-width">
        <meta name="description" content="Warn A Broda is secret friend warning regarding  embarrassing situations" />
    	<meta name="keywords" content="communication, warning tool, collaboration, friend, embarrassing, situations, da um toque, aviso amigo, avisar, amigo, situação, embaraçosa, warn a broda, warning, brother, broda, serviço, utilidade publica, aviso anonimo, anonimo, mensagens anonimas, anônimo, anônima, cartões virtuais, cards, telemensagens, avisar, peludo, pêlos, piolhos, calvície, mau halito, mal halito, chulé, detetive, gases, flatulencia, caspa, acne, espinhas, namoro, namorada, namorado, professor, chefes, mania, dedo duro, estresse, stress, chato, emagrecer, pelos na orelha, pêlos, sujo, cara de pau, xingar, almofadinha, estressado, estúpido, fedido, fedor, cafona, nutrição, psiquiatra, nervosismo, depilação, saúde, beleza, amigos, amizade, serviço, mulheres, homens, sexo, dinheiro, testes, grana, fácil" />
    	<meta name="robots" content="index,follow" />
        <meta name="googlebot" content="index, folow">
        <meta name="audience" content="all">
        <meta name="revisit-after" content="3 Days">
        <meta name="verification" content="098a475349bb86bf42206f821763edfe" />
        
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <!-- build:css(.tmp) styles/main.css -->
        <link rel="stylesheet" href="styles/bootstrap.css">
        <link rel="stylesheet" href="styles/main.css">
        <!-- link rel="stylesheet" href="styles/famfamfam-flags.css" -->
        <link rel="stylesheet" href="styles/intlTelInput.css">
        <!-- endbuild -->
        
        <link href='http://fonts.googleapis.com/css?family=Raleway:500,600,400' rel='stylesheet' type='text/css'>

        <link rel="apple-touch-icon" sizes="57x57" href="images/icon/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="images/icon/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="images/icon/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="images/icon/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="images/icon/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="images/icon/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="images/icon/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="images/icon/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="images/icon/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="images/icon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="images/icon/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="images/icon/favicon-16x16.png">
        <link rel="manifest" href="images/icon/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="images/icon/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">
        <!-- script type="text/javascript" src="//www.google.com/recaptcha/api/js/recaptcha_ajax.js"></script -->
    </head>
    <body ng-app="warnabrodaApp" ng-controller="ApplicationController">       
    	<div id="fb-root"></div>	
		<script>(function(d, s, id) {
		  var js, fjs = d.getElementsByTagName(s)[0];
		  if (d.getElementById(id)) return;
		  js = d.createElement(s); js.id = id;
		  js.src = "//connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v2.0";
		  fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));</script>
        <!--[if lt IE 10]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div class="wrapper">
            <div ng-cloak>        
            <nav class="navbar navbar-default" role="navigation">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                      <a class="navbar-brand" href="#">
<img src="images/logo-warnabroda-navbar.png" alt="Warn a broda"></a>
                    </div>
                    <div class="collapse navbar-collapse" id="navbar-collapse" ng-switch="authenticated">
                        <ul class="nav navbar-nav nav-pills navbar-right">                        

                            <li ng-controller="LanguageController">
                                <a href="#/contact">
                                    <span class="glyphicon glyphicon-envelope"></span>
                                    <span translate="warning.contact">Contato</span>
                                </a>
                            </li>

                            <li>
                                <a ng-href="#/ignore-request" data-toggle="modal" data-target="#ignoreContactModal">
                                    <span class="glyphicon glyphicon-remove"></span>
                                    <span translate="warning.ignore_me_label">Me Ignorar</span>
                                </a>
                            </li>

                            <li>
                                <a href="#/about">
                                    <span class="glyphicon glyphicon-info-sign"></span>
                                    <span translate="warning.about_label">Sobre o Warna A Broda</span>
                                </a>
                            </li>

                            <li  ng-switch-when="true" ng-show="isAuthorized(userRoles.admin)">
                                <a href="#/dashboard">
                                    <span class="glyphicon glyphicon-tasks"></span>
                                    <span translate="dashboard.dash">Dashboard</span>
                                </a>
                            </li>

                            <li  ng-switch-when="true" ng-show="isAuthorized(userRoles.admin)">
                                <a href="#/logout">
                                    <span class="glyphicon glyphicon-log-out"></span>
                                    <span translate="global.menu.account.logout">Logout</span>
                                </a>
                            </li>
                            <li class="dropdown pointer" ng-controller="LanguageController">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="">
                                    <span>
                                        <span class="glyphicon glyphicon-flag"></span>
                                        <span class="hidden-tablet" translate="global.menu.language">Language</span>
                                        <b class="caret"></b>
                                    </span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li active-menu="{{key}}" ng-repeat="(key, language) in languages">
                                        <a href="" ng-click="changeLanguage(key)">{{language}}</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>    
            </div>
            <div class="container" ng-view=""></div> 
        </div>    
        <div class="container footer">
            <p translate="footer">©2014-2014 Warn a Broda. Todos os direitos reservados.</p>
            <h6><small translate="usage_terms">Usage Terms</small></h6>

            <div class="fb-like" data-href="https://www.facebook.com/daumtoque" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"> </div>
        </div>
        <div class="warna-borda"></div>
        <!-- Google Analytics: uncomment and change UA-XXXXX-X to be your site's ID.-->
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-57256687-1', 'auto');
          ga('send', 'pageview');

        </script>    

        <!-- build:js scripts/scripts.js -->
        <script src="bower_components/modernizr/modernizr.js"></script>
        <script src="bower_components/jquery/dist/jquery.js"></script>
        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/angular-route/angular-route.js"></script>
        <script src="bower_components/angular-resource/angular-resource.js"></script>
        <script src="bower_components/angular-cookies/angular-cookies.js"></script>
        <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
        <script src="bower_components/angular-translate/angular-translate.js"></script>
        <script src="bower_components/angular-translate-storage-cookie/angular-translate-storage-cookie.js"></script>
        <script src="bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>
        <!-- script src="bower_components/angular-i18n/angular-locale_br.js"></script -->
        <script src="bower_components/angular-dynamic-locale/src/tmhDinamicLocale.js"></script>
        <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
        <script src="scripts/intlTelInput.js"></script>
        <script src="scripts/angular-no-captcha.js"></script>
        <script src="scripts/http-auth-interceptor.js"></script>
        <script src="scripts/truncate.js"></script>
        <script src="scripts/utils.js"></script>
        <script src="scripts/app.js"></script>
        <script src="scripts/constants.js"></script>
        <script src="scripts/controllers.js"></script>
        <script src="scripts/services.js"></script>
        <script src="scripts/directives.js"></script>
        <script src="scripts/ng-device-detector.js"></script>        
        <script src="scripts/ApplicationController.js"></script>
        <script src="scripts/MainController.js"></script>
        <script src="scripts/IgnoremeConfirmationController.js"></script>
        <script src="scripts/IgnoremeRequestController.js"></script>
        <script src="scripts/LoginController.js"></script>
        <script src="scripts/WarningService.js"></script>
        <script src="scripts/AuthenticationSharedService.js"></script>
        <script src="scripts/DashboardController.js"></script>
        <script src="scripts/DashboardService.js"></script>
        <script src="bower_components/bootstrap-sass/vendor/assets/javascripts/bootstrap/affix.js"></script>
        <script src="bower_components/bootstrap-sass/vendor/assets/javascripts/bootstrap/alert.js"></script>
        <script src="bower_components/bootstrap-sass/vendor/assets/javascripts/bootstrap/dropdown.js"></script>
        <script src="bower_components/bootstrap-sass/vendor/assets/javascripts/bootstrap/tooltip.js"></script>
        <script src="bower_components/bootstrap-sass/vendor/assets/javascripts/bootstrap/modal.js"></script>
        <script src="bower_components/bootstrap-sass/vendor/assets/javascripts/bootstrap/transition.js"></script>
        <script src="bower_components/bootstrap-sass/vendor/assets/javascripts/bootstrap/button.js"></script>
        <script src="bower_components/bootstrap-sass/vendor/assets/javascripts/bootstrap/popover.js"></script>
        <script src="bower_components/bootstrap-sass/vendor/assets/javascripts/bootstrap/carousel.js"></script>
        <script src="bower_components/bootstrap-sass/vendor/assets/javascripts/bootstrap/scrollspy.js"></script>
        <script src="bower_components/bootstrap-sass/vendor/assets/javascripts/bootstrap/collapse.js"></script>
        <script src="bower_components/bootstrap-sass/vendor/assets/javascripts/bootstrap/tab.js"></script>
        <!-- endbuild -->
</body>
</html>
