<div ng-cloak class="container well">
	<div class="panel-heading">
		<h3 translate="warning.greet" translate-values="{username: '{{account.name}}'}">Ola {{account.name}} !</h3>
		<p translate="dashboard.warnabroda">Dashboard Warn A Broda</p>
		
	</div>

    	<section>
			<ul class="nav nav-tabs">
		        <li ng-class="{active:isSet(1)}"><a href ng-click="setTab(1)"><span translate="dashboard.general_stats">General Statistics</span></a></li>
		        <li ng-class="{active:isSet(2)}"><a href ng-click="setTab(2)"><span translate="dashboard.message_stats">Message Statistics</span></a></li>
		        <li ng-class="{active:isSet(3)}"><a href ng-click="setTab(3)"><span translate="dashboard.warnings_list">Warnings</span></a></li>
		    </ul>
		    <br>
		    <div ng-show="isSet(1)" class="slide-animate-container">
		        <div class="slide-animate" ng-include src="'views/dashboard-general-stats.html'"></div>
		    </div>
		    <div ng-show="isSet(2)">
		    	<h2 class="sub-header"><label translate="dashboard.message_table_title"> Message table</label></h2>
	    		<div class="table-responsive">
	    			<table class="table table-striped">
          				<thead>
            				<tr>
              					<th translate="warning.id">ID</th>
              					<th translate="warning.message">Message</th>
				                <th translate="warning.total">All</th>
				                <th translate="warning.sent">Sent</th>
				                <th translate="warning.not_sent">Not Sent</th>
				                <th>E-mail</th>
				                <th>Sms</th>
				                <th>Whatsapp</th>
				                <th translate="warning.lang_key">Lang Key</th>
			                </tr>
		                </thead>
		                <tbody>
			                <tr ng-repeat="message in messages">
				                <td>{{message.id}}</td>
				                <td>{{message.name}}</td>
				                <td>{{message.total}}</td>
				                <td>{{message.sent}}</td>
				                <td>{{message.not_sent}}</td>
				                <td>{{message.email}}</td>
				                <td>{{message.sms}}</td> 
				                <td>{{message.whatsapp}}</td>
				                <td>{{message.lang_key}}</td>
			                </tr>
		            	</tbody>
		            </table>
		        </div>
		    </div>
		    <div ng-show="isSet(3)">
		        <div class="slide-animate" ng-include src="'views/dashboard-warnings-list.html'"></div>
		    </div>
		</section>
	
    
</div>
<div ng-include src="'views/modal-warning-details.html'"></div>