<div ng-cloak class="well">
	<div class="row">
		<div class="col-md-10">
			<!-- h1 translate="warning.title">Welcome, Warn A Broda!</h1-->
			<p class="lead" translate="warning.ignoreme.title">Let your friend know something secretly</p>
			<div class="alert alert-success" ng-show="server_msg_sucess">
				<strong>{{server_msg_sucess}}</strong>
			</div>
			<div class="alert alert-danger" ng-show="server_msg_danger">
				{{server_msg_danger}}
			</div>			
			<div class="alert alert-warning" ng-show="captcha_invalid"
				translate="warning.ignoreme.captcha_invalid">
				<strong>Ups algum erro ocorreu!</strong>
			</div>			
			<div class="alert alert-danger" ng-show="confirmation_code_invalid"
				translate="warning.ignoreme.invalid_confirmation_code">
				<strong>Ups algum erro ocorreu!</strong>
			</div>
			


			<form name="formIgnore" role="form" novalidate
				class="ng-scope ng-invalid ng-invalid-required ng-dirty ng-valid-minlength"
				ng-submit="send()">

				
				<div class="form-group">
					<label translate="warning.ignoreme.code">Codigo</label> 
					<input type="text" class="form-control" name="code" placeholder="A1B2C3D4E5F6" 
						ng-model="ignore.Confirmation_code" ng-minlength="4" required>					
				</div>			
				
				<no-captcha
				    g-recaptcha-response="gRecaptchaResponse"
				    theme="clean"
				    control="captchaControl"
				    site-key="6LfcKP8SAAAAAG04VXizMXdLiaLj4VRQe_VtKAyB">
				</no-captcha>

				<div class="modal-footer">
					<button type="submit" ng-disabled="formIgnore.$invalid" class="btn btn-success">
						<span class="glyphicon glyphicon-ok"></span> 
						<span translate="warning.ignoreme.confirm_request">Confirmar Ignorar</span>
					</button>										
				</div>
			</form>			
		</div>
	</div>
</div>
