<div ng-cloak class="well main-box">
	<div class="row">
		<div class="col-md-12">
			<div class="logo"><h1>Warn a broda</h1></div>
			<!-- h1 translate="warning.title">Welcome, Warn A Broda!</h1-->
			<p class="lead" translate="warning.subtitle">Let your friend know something secretly</p>
			
			<div class="alert alert-danger" ng-show="error"
				translate="warning.error">
				<strong>Ups algum erro ocorreu!</strong>
			</div>
			<div class="alert alert-danger" ng-show="server_msg_danger">
				<strong>{{server_msg_danger}}</strong>
			</div>
			<div class="alert alert-success" ng-show="server_msg_sucess">
				<strong>{{server_msg_sucess}}</strong>
			</div>
			<div class="alert alert-danger" ng-show="email_error"
				translate="warning.invalid_email">
				<strong>Ups algum erro ocorreu!</strong>
			</div>
			<div class="alert alert-danger" ng-show="invalid_ddd"
				translate="warning.invalid_ddd">
				<strong>Ups algum erro ocorreu!</strong>
			</div>
			<div class="alert alert-danger" ng-show="invalid_facebook"
				translate="warning.invalid_facebook_link">
				<strong>Ups algum erro ocorreu!</strong>
			</div>
			<div class="alert alert-danger" ng-show="invalid_phone_number"
				translate="warning.invalid_phone_number">
				<strong>Ups algum erro ocorreu!</strong>
			</div>
			<div class="alert alert-danger" ng-show="invalid_whatsapp"
				translate="warning.invalid_whatsapp">
				<strong>Ups algum erro ocorreu!</strong>
			</div>
			<div class="alert alert-danger" ng-show="same_contacts_dest_orig"
				translate="warning.same_contacts_dest_orig">
				<strong>Ups algum erro ocorreu!</strong>
			</div>


			<form name="form" role="form" novalidate
				class="ng-scope ng-invalid ng-invalid-required ng-dirty ng-valid-minlength"
				ng-submit="send()">

				<div class="form-group">
					<label translate="warning.warn">Amigo você </label> 
					<select
						class="form-control" ng-model="warning.id_message"
						ng-options="m.id as m.name for m  in messages"
						required>
					</select>
				</div>

				<div class="form-group">
					<label class="radio-inline">
			        	<input type="radio" name="E-mail" ng-value="1" ng-model="warning.id_contact_type" ng-click="sendBy('email')">
			        	<b>E-mail</b>
			        </label>
			        <label class="radio-inline">
			        	<input type="radio" name="sms" ng-value="2" ng-model="warning.id_contact_type"  ng-click="sendBy('sms')">
			            <b>SMS</b>
			       	</label>
			        <!-- label class="radio-inline">
			        	<input type="radio" name="whatsapp" ng-value="3" ng-model="warning.id_contact_type"  ng-click="sendBy('whatsapp')">
			            <b>WhatsApp</b>
		            </label -->			
				</div>

				<label translate="warning.contact_name" ng-hide="true">Nome do contato</label>
				<div ng-hide="true">
					<div class="form-group hand">
						
							<input type="radio" id="noMatter" ng-model="warning.enableName" ng-value="false">
							<label translate="warning.no_matter" for="noMatter">Não interessa</label>
						
							<input type="radio" id="toName" ng-model="warning.enableName" ng-value="true">
							<label translate="warning.inform_broda_name" for="toName">Informar</label>
						
					</div>

					<div class="form-group" ng-show="warning.enableName == true">						
						<input type="text" class="form-control" name="contact_name" 
								ng-model="warning.toName" ng-minlength=1 ng-maxlength=10 maxlength="10" placeholder="{{'warning.placeholder.contact_name' | translate}}"/>
					</div>
				</div>

				<div class="form-group">
					<div ng-show="show_email">
						<label translate="warning.contact">Contato do amigo</label> 
						<br/>
						<input type="email" class="form-control" name="email" 
							ng-model="email" ng-minlength=5 ng-maxlength=100 ng-show="show_email"
							placeholder="{{'warning.placeholder.email' | translate}}"/>
					</div>
					<div ng-show="show_phone">
						<label translate="warning.contact">Contato do amigo</label>
						<br/>
						<input type="tel" class="form-control" ng-model="sms" id="sms-number" ng-show="show_phone"/>
					</div>
					<div ng-show="show_whats">
						<label translate="warning.contact">Contato do amigo</label> 
						<br/>
						<input type="tel" class="form-control" ng-model="whatsapp" ng-show="show_whats" id="mobile-number">
					</div>
				</div>

				<div class="form-group">
					
					<label translate="warning.accept_response">Aceito receber resposta</label>
					<toggle-switch ng-model="acceptResponse" on-label="{{'warning.yes' | translate}}" off-label="{{'warning.no' | translate}}" knob-label=""/>		
				</div>
				<div class="form-group" ng-show="acceptResponse">
					
					<div class="hand">
						<input type="radio" id="responseWhatsapp" ng-model="response.type" ng-value=2 ng-click="resetReplyContact()"><label for="responseWhatsapp">WhatsApp</label>
					</div>
					<div class="hand">
						<input type="radio" id="responseEmail" ng-model="response.type" ng-value=0 ng-click="resetReplyContact()"><label for="responseEmail">E-mail</label>
					</div>

					<div ng-show="response.type === 0">
						<label>Seu contato</label> 
						<br/>
						<input type="email" class="form-control" name="responseEmail" 
							ng-model="response.email" ng-minlength=5 ng-maxlength=100 ng-show="response.type === 0"
							placeholder="{{'warning.placeholder.email' | translate}}"/>						
						<i><small translate="warning.blank_note">Se você deixar em branco, não será possivel descobrir a resposta</small></i>
					</div>

					<div ng-show="response.type === 2">
						<label>Seu contato</label> 
						<br/>
						<input type="tel" class="form-control" ng-model="response.whatsapp" ng-show="response.type === 2" id="mobile-number-response"/>
						<br>
						<i><small translate="warning.blank_note">Se você deixar em branco, não será possivel descobrir a resposta</small></i>
					</div>
				</div>

				

				<div class="modal-footer">
					<button type="submit" ng-disabled="form.$invalid || isPhoneNumberIlegal()" class="btn btn-success btn-block">
						<span translate="warning.send">Avisar</span>
						<span class="glyphicon glyphicon-ok"></span> 						
					</button>					
				</div>
				
			</form>			
		</div>
	</div>
</div>
<script>
  	$("#mobile-number").intlTelInput({
	    autoFormat: true,
	    //autoHideDialCode: false,
	    defaultCountry: "auto",
	    //ipinfoToken: "yolo",
	    //nationalMode: false,
	    numberType: "MOBILE",
	    //onlyCountries: ['us', 'gb', 'ch', 'ca', 'do'],
	    preferredCountries: ['br', 'us'],
	    preventInvalidNumbers: true,
	    utilsScript: "scripts/utils.phone.jstxt"
  	});
  	$("#sms-number").intlTelInput({
	    autoFormat: true,
	    //autoHideDialCode: false,
	    defaultCountry: "auto",
	    //ipinfoToken: "yolo",
	    //nationalMode: false,
	    numberType: "MOBILE",
	    onlyCountries: ['br'],	    
	    preventInvalidNumbers: true,
	    utilsScript: "scripts/utils.phone.jstxt"
  	});
  	$("#mobile-number-response").intlTelInput({
	    autoFormat: true,
	    //autoHideDialCode: false,
	    defaultCountry: "auto",
	    //ipinfoToken: "yolo",
	    //nationalMode: false,
	    numberType: "MOBILE",
	    //onlyCountries: ['us', 'gb', 'ch', 'ca', 'do'],
	    preferredCountries: ['br', 'us'],
	    preventInvalidNumbers: true,
	    utilsScript: "scripts/utils.phone.jstxt"
  	});
</script>

