<div ng-cloak>
	<div class="row">
		<div class="col-md-6">
			<h1 translate="main.title">Welcome, Warn A Broda!</h1>
			<p class="lead" translate="main.subtitle">Let your friend know
				something secretly</p>				
			<div class="alert alert-success" ng-show="done"
				translate="warning.amigo_avisado">
				<strong>Amigo avisado com sucesso!</strong>
			</div>
			<div class="alert alert-danger" ng-show="error"
				translate="warning.error">
				<strong>Ups algum erro ocorreu!</strong>
			</div>
			<div class="alert alert-danger" ng-show="email_error"
				translate="warning.invalid_email">
				<strong>Ups algum erro ocorreu!</strong>
			</div>
			<div class="alert alert-danger" ng-show="invalid_ddd"
				translate="warning.invalid_ddd">
				<strong>Ups algum erro ocorreu!</strong>
			</div>
			<div class="alert alert-danger" ng-show="invalid_facebook"
				translate="warning.invalid_facebook_link">
				<strong>Ups algum erro ocorreu!</strong>
			</div>
			<div class="alert alert-danger" ng-show="invalid_phone_number"
				translate="warning.invalid_phone_number">
				<strong>Ups algum erro ocorreu!</strong>
			</div>


			<form name="form" role="form" novalidate
				class="ng-scope ng-invalid ng-invalid-required ng-dirty ng-valid-minlength"
				ng-submit="send()">

				<div class="form-group">
					<label translate="warning.amigo_voce">Amigo você: </label> <select
						class="form-control" ng-model="warning.id_message"
						ng-options="m.id as m.name for m  in messages"
						required>
					</select>
				</div>

				<div class="form-group">
					<label translate="warning.tipo_notificacao">Notificar amigo
						via: </label> <select class="form-control"
						ng-model="warning.id_contact_type"
						ng-change="showAvisoNotificacao()"
						ng-options="ct.id as ct.name for ct  in contactTypes"
						required>
					</select>
					<div class="warn" ng-show="notification_alert">
						<small class="warn" ng-show="notification_alert"
							translate="warning.notificacao_envio"> Notificação de envio
							imedito. </small>
					</div>
				</div>

				<div class="form-group">
					<label translate="warning.contato">Contato do amigo</label> 
					<input type="text" class="form-control" name="email" placeholder="Ex: warnabroda@gmail.com" 
						ng-model="email" ng-minlength=1 ng-maxlength=100 ng-show="show_email">

					<input type="text" class="form-control" name="facebook" placeholder="https://www.facebook.com/nome_do_usuario" 
						ng-model="facebook" ng-minlength=1 ng-maxlength=100 ng-show="show_facebook">

					<phonenumber-directive placeholder="phone_placeholder" ng-show="show_phone" model="phone_contact" change="updateContact(phone_contact)"></phonenumber-directive>
				</div>
				

				<div class="modal-footer">
					<button type="submit" ng-disabled="form.$invalid" class="btn btn-success">
						<span class="glyphicon glyphicon-ok"></span> Avisar
					</button>
					<button type="button" class="btn btn-xs btn-info" data-toggle="modal"
						data-target="#saibaMaisModal">
						<span class="glyphicon glyphicon-flash"></span> Saiba mais
					</button>
					<div class="fb-like" data-href="https://www.facebook.com/daumtoque" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
				</div>
				<input ng-model="warning.browser" type="hidden" id="sender_browser">
				<input ng-model="warning.ip" type="hidden" id="sender_ip">										
			</form>
		</div>
	</div>
</div>

<div class="modal fade" id="saibaMaisModal" tabindex="-1" role="dialog"
	aria-labelledby="myAvisoLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">

			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="myAvisoLabel">Sobre o Warn a Broda</h4>
			</div>
			<div class="modal-body">
				<div class="well">

					<h1>Próximas Funcionalidades:</h1>
					<ul>
						<li>Envio de Mensagens por SMS</li>
						<li>Envio de Mensagens por Facebook</li>
						<li>Envio de Mensagens por WhatsApp</li>
						<li>Envio de Mensagens por Twitter Direct Message</li>
						<li>Declarações secretas de Amor</li>
						<li>Feedback de recebimento de mensagem pelo amigo
							notificado.</li>
					</ul>
					<br>
					<div class="fb-like" data-href="https://www.facebook.com/daumtoque" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
					
					<BR>
					<p>
						<i>Este aplicativo é feito por <a
							href="https://www.linkedin.com/in/hbtsmith">Herbert</a> e <a
							href="https://www.linkedin.com/in/ademarizu">Ademar</a>,
							adoraríamos receber reclamações, sugestões e/ou elogios! <br>
						<b>Muito Obrigado!</b><br></i><a
							href="mailto:warnabroda@gmail.com">warnabroda@gmail.com</a>
					</p>
				</div>
			</div>

			<div class="modal-footer">
				<button type="button" class="btn btn-sm btn-success"
					data-dismiss="modal">
					<span class="glyphicon glyphicon-ok"></span> Ok
				</button>
			</div>
		</div>
	</div>
</div>
