<div ng-cloak>
	<div class="row">
		<div class="col-md-12">
			<div class="modal-header">				
				<h3 class="modal-title" id="myAvisoLabel" translate="warning.about">Sobre o Warn a Broda</h3>
				<h4 translate="warning.total_warning_sent" translate-values="{total: '{{countWarnings}}'}"> {{countWarnings}} Warns enviados</h4>
			</div>
			
				
					<p class="h5" translate="warning.about_title">
						O Aplicativo "Warn A Broda" visa ajudar você a dar aquele toque, em um(a) amigo(a), anonimamente de forma que não fique chato pra você que avisa e pra quem recebe o aviso.
						<br>						
					</p>
					
					<h5><strong translate="warning.about_rules">Regras básicas para o uso do Warn A Broda:</strong></h5>
					<ul class="h6">
						<li translate="warning.about_spam_rule">Um e-mail ou celular(SMS) só pode receber até 2 mensagem iguais, mas de brodas diferentes, a cada 2 horas;</li>				
						<li translate="warning.about_sms_limit_rule">Um mesmo IP só pode enviar até 3 SMS a cada 24 horas pelo Warn A Broda;</li>
						<li translate="warning.about_ignoreme">O Serviço é inofensivo, mas se você quiser pode adicionar seu contato na <b>ignore list</b> e nunca mais você receberá notificações do Warn A Broda.</li>

					</ul>				

					<br>
					<div class="fb-like" data-href="https://www.facebook.com/daumtoque" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
					<br>
					<br>

					<p class="h6" translate="warning.about_free">
						O serviço do Warn A Broda é completamente grátis e sempre será, este projeto é uma realização de 3 amigos que acreditam que ajudar o próximo é a melhor remuneração. O App foi desenvolvido de coração e tem as melhores intenções possíveis. Gostaríamos de evoluir essa ferramenta de forma gratuita cada vez mais. Se você deseja nos ajudar de alguma forma pedimos que dedique apenas um pouco do seu tempo fazendo uma reclamação, sugestão, elogio ou qualquer outro comentário que você queira.
						Para isso disponibilizamos nosso <a href='#/contact'>Fale Conosco</a> e o nosso contato <a href='mailto:warnabroda@gmail.com'>warnabroda@gmail.com</a>.
						<br>
					</p>

					<p class="h6">
						<i translate="warning.about_this_app">Este aplicativo foi feito por</i> 
						<a href="https://www.linkedin.com/in/hbtsmith" target="_blank">Herbert</a> e 
						<a href="https://www.linkedin.com/in/ademarizu" target="_blank">Ademar</a> e 
						<a href="https://www.linkedin.com/in/raissaesther" target="_blank">Raissa</a>.
						<br>
						<i>
							<b>Muito Obrigado!</b><br>
							<b>Muchas Gracias!</b><br>
							<b>Thank You Very Much!</b><br>
						</i>
					</p>
		</div>
	</div>
</div>

			

			