<div class="modal fade" id="saibaMaisModal" tabindex="-1" role="dialog"	aria-labelledby="myAvisoLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">

			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="myAvisoLabel">Sobre o Warn a Broda[ {{countWarnings}} Brodas avisados(as)]</h4>
			</div>
			<div class="modal-body">
				<div class="well">
					<p class="h5">
						O Aplicativo "Warn A Broda" visa ajudar você a dar aquele toque, em um(a) amigo(a), anonimamente de forma que não fique chato pra você que avisa e pra quem recebe o aviso.
						<br>						
					</p>
					
					<h4>Regras basicas para o uso do Warn A Broda:</h3>
					<ul class="h6">
						<li>Um número de telefone só pode receber 1 SMS por dia do Warn A Broda;</li>
						<li>Um mesmo IP só pode enviar 1 SMS por dia pelo Warn A Broda;</li>
						<li>Um Broda só pode ser avisado, via e-mail, de 4 em 4 horas;</li>
						<li>O Serviço é inofensivo, mas se você quiser pode adicionar seu contato na <b>ignore list</b> e nunca mais você receberá notificações do Warn A Broda.</li>

					</ul>
					<h4>Em Breve:</h3>
					<ul class="h6">
						<li>Declarações secretas de Amor;</li>
						<li>Você manda a mensagem e se quiser é notificado quando o(a) amigo(a) receber o aviso;</li>
						<li>Envio de mensagens secretas via perfil do Warn A Broda no Facebook e twitter(Direct Message).</li>
					</ul>

					<br>
					<div class="fb-like" data-href="https://www.facebook.com/daumtoque" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
					<br>

					<p class="h6">
						<i>Este aplicativo foi feito por <a
							href="https://www.linkedin.com/in/hbtsmith">Herbert</a> e <a
							href="https://www.linkedin.com/in/ademarizu">Ademar</a>,
							adoraríamos receber reclamações, sugestões e/ou elogios! <br>
						<b>Muito Obrigado!</b><br></i><a
							href="mailto:warnabroda@gmail.com">warnabroda@gmail.com</a>
					</p>
				</div>
			</div>		

			<div class="modal-footer">
				<button type="button" class="btn btn-sm btn-success"
					data-dismiss="modal">
					<span class="glyphicon glyphicon-ok"></span> Ok
				</button>
			</div>
		</div>
	</div>
</div>
