<div ng-cloak>
	<div class="row">
		<div class="col-md-12">
			<div class="modal-header">				
				<h3 class="modal-title" id="myAvisoLabel">Sobre o Warn a Broda</h3>
				<h4> {{countWarnings}} Warns enviados</h4>
			</div>
			
				
					<p class="h5">
						O Aplicativo "Warn A Broda" visa ajudar você a dar aquele toque, em um(a) amigo(a), anonimamente de forma que não fique chato pra você que avisa e pra quem recebe o aviso.
						<br>						
					</p>
					
					<h5><strong>Regras básicas para o uso do Warn A Broda:</strong></h5>
					<ul class="h6">
						<li>Um e-mail ou celular(SMS) só pode receber até 2 mensagem iguais, mas de brodas diferentes, a cada 2 horas;</li>				
						<li>Um mesmo IP só pode enviar até 3 SMS a cada 24 horas pelo Warn A Broda;</li>
						<li>O Serviço é inofensivo, mas se você quiser pode adicionar seu contato na <b>ignore list</b> e nunca mais você receberá notificações do Warn A Broda.</li>

					</ul>
					<h5><strong>Em Breve:</strong></h5>
					<ul class="h6">						
						<li>Você manda a mensagem e se quiser é notificado quando o(a) amigo(a) receber o aviso;</li>
						<li>Envio de mensagens secretas via perfil do Warn A Broda no Facebook e Twitter(Direct Message).</li>
					</ul>

					<br>
					<div class="fb-like" data-href="https://www.facebook.com/daumtoque" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
					<br>

					<p class="h6">
						<i>Este aplicativo foi feito por <a
							href="https://www.linkedin.com/in/hbtsmith" target="_blank">Herbert</a> e <a
							href="https://www.linkedin.com/in/ademarizu" target="_blank">Ademar</a> e <a 
							href="https://www.linkedin.com/in/raissaesther" target="_blank">Raissa</a>,
							adoraríamos receber reclamações, sugestões e/ou elogios! <br>
						<b>Muito Obrigado!</b><br></i><a
							href="mailto:warnabroda@gmail.com">warnabroda@gmail.com</a>
					</p>
		</div>
	</div>
</div>

			

			