<div ng-cloak class="well">
	<div class="row">
		<div class="col-md-12">

			<div class="alert alert-danger" ng-show="error" translate="warning.error">
				<strong>Ups algum erro ocorreu!</strong>
			</div>

			<div class="alert alert-warning" ng-show="captcha_invalid" translate="warning.ignoreme.captcha_invalid">
				<strong>Captcha invalido!</strong>
			</div>

			<div class="alert alert-warning" ng-show="invalid_ddd" translate="warning.invalid_ddd">
				<strong>Captcha invalido!</strong>
			</div>
			<div class="alert alert-warning" ng-show="contact_invalid" translate="warning.invalid_contact">
				<strong>Captcha invalido!</strong>
			</div>


			<div class="alert alert-warning" ng-show="server_msg_danger">
				<strong>{{server_msg_danger}}</strong>
			</div>
			<div class="alert alert-success" ng-show="server_msg_success">
				<strong>{{server_msg_success}}</strong>
			</div>

			<div class="panel panel-default">
            	<div class="panel-heading">
              		<h3 class="panel-title" translate="warning.ignoreme.add">Add to Ignore me</h3>
            	</div>
            	<div class="panel-body">
            		
					<form name="form" role="form" novalidate class="ng-scope ng-invalid ng-invalid-required ng-dirty ng-valid-minlength" ng-submit="send()">
						<p class="h5" translate="warning.ignoreme.add_to_list_warning">
							A partir do momento que você adicionar seu contato na Ignore List, o Warn A Broda não conseguirá mais lhe avisar nada... :'(
						</p>
						<div class="form-group">							
							<input type="text" class="form-control" name="ignore_contact" placeholder="Ex: warnabroda@gmail.com ou +5541987654321*" 
								ng-model="ignore.contact" ng-minlength=5 ng-maxlength=100 required>						
						</div>

						<no-captcha
						    g-recaptcha-response="gRecaptchaResponse"
						    theme="clean"
						    control="captchaControl"
						    site-key="6LfcKP8SAAAAAG04VXizMXdLiaLj4VRQe_VtKAyB">
						</no-captcha>
						<div class="modal-footer">
							<div class="form-group">
								<button type="submit" ng-disabled="form.$invalid" class="btn btn-lg btn-danger">
									<span class="glyphicon glyphicon-ok"></span> 
									<span translate="warning.ignoreme.add_request">Ignorar</span>
								</button>	
							</div>					
						</div>
					</form>
              
            	</div>

          	</div>



		</div>
	</div>
</div>