body {
    background: #fafafa;
    background-image: url("../images/photosg1.jpg");
    background-size: cover;
    font-family: 'Raleway', sans-serif;
    color: #333;
    padding-bottom: 10px;

}

.warna-borda {
    height: 5px;
    background-image: url("../images/warna-border.png");
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Background */

/* Navbar */
.navbar {
border-radius: 0;
}

.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
    color: #fff;
}

.navbar-default {
    background-color: #b2be35;
    border: none;
}

.navbar-brand  {
padding: 10px 15px;
}

.nav-pills>li {
  float: none;
}

.well {
    margin: 40px auto;
    background-color: #fff;
    border-color: #fff;
    border-radius: 0;
    padding: 40px;
    -webkit-box-shadow: 1px 0 11px rgba(50,50,50,0.74);
    -moz-box-shadow: 1px 0 11px rgba(50,50,50,0.74);
    box-shadow: 1px 0 11px rgba(50,50,50,0.74);
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
    background-color: #fff;
}

.nav-pills>li>a {
    border-radius: 0;
}

/* Botão */
.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open .dropdown-toggle.btn-success {
    background-color: #4c2f85;
    border-color: #4c2f85;
}

.btn-success.disabled, .btn-success[disabled], fieldset[disabled] .btn-success, .btn-success.disabled:hover, .btn-success[disabled]:hover, fieldset[disabled] .btn-success:hover, .btn-success.disabled:focus, .btn-success[disabled]:focus, fieldset[disabled] .btn-success:focus, .btn-success.disabled:active, .btn-success[disabled]:active, fieldset[disabled] .btn-success:active, .btn-success.disabled.active, .btn-success[disabled].active, fieldset[disabled] .btn-success.active {
    background-color: #61499a;
    border-color: #61499a;
}

/* Logo */
.logo {
    display: block;
    width: 100%;
    height: auto;
    background-image: url("../images/logo-warnabroda.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
}

@media(min-width: 768px){
    .main-box,
    .home-comments {
        width: 50%;
        margin: 0 auto;
    }

    .logo {
        height: 64px;
    }

    .nav-pills>li {
        float: left;
    }

}

.logo {
    margin-bottom: 40px;
    text-align: center;
}

.logo h1 {
    text-indent: -3333px;
}
.modal-dialog{
    width: 35%;
}
.development {
    position: absolute;
    width: 149px;
    height: 149px;
    top: 0;
    left: 0;
    border: 0;
    z-index: 1000;
    background-image: url("../images/development_ribbon.png");
    background-position: center center;
    background-repeat: no-repeat;
}

.email-icon {

    width: 50px;
    height: 50px;
    border: 0;
    z-index: 1000;
    background-image: url("../images/email-icon-sm.png");
    background-position: center center;
    background-repeat: no-repeat;

}

.sms-icon {

    width: 50px;
    height: 50px;
    border: 0;
    z-index: 1000;
    background-image: url("../images/sms-icon-sm.png");
    background-position: center center;
    background-repeat: no-repeat;
}

.whatsapp-icon {

    width: 50px;
    height: 50px;
    border: 0;
    z-index: 1000;
    background-image: url("../images/whatsapp-icon-sm.png");
    background-position: center center;
    background-repeat: no-repeat;
}

.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 60px;
}

.hero-unit h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.error {
    color: white;
    background-color: red;
}

.warn {
    color: #8a6d3b;
    background-color: #fcf8e3;
}

.hand {
    cursor: pointer;
    cursor: hand;
}

.main-well {
    width: 600px;
}

.home-comments {
    text-align: center;
    margin-bottom: 30px;
    background-color: #FFFFFF;

}

.fb-like {
    text-align: center;
    margin-bottom: 30px;
    margin: 30px 0;
    /*overflow: scroll;*/
}
.fb-components-align {
    text-align: center;
}

.fb-overflow-class {
    overflow: scroll;   
}


#threadDump .popover, #healthCheck .popover {
    top: inherit;
    display: block;
    font-size: 10px;
    max-width: 1024px;
}

#healthCheck .popover {
    margin-left: -50px;
}

.alert .popover pre {
    font-size: 10px;
}

.voffset  { margin-top: 2px; }
.voffset1 { margin-top: 5px; }
.voffset2 { margin-top: 10px; }
.voffset3 { margin-top: 15px; }
.voffset4 { margin-top: 30px; }
.voffset5 { margin-top: 40px; }
.voffset6 { margin-top: 60px; }
.voffset7 { margin-top: 80px; }
.voffset8 { margin-top: 100px; }
.voffset9 { margin-top: 150px; }

/* start Password strength bar style */
ul#strength {
    display:inline;
    list-style:none;
    margin:0;
    margin-left:15px;
    padding:0;
    vertical-align:2px;
}

.point:last {
    margin:0 !important;
}
.point {
    background:#DDD;
    border-radius:2px;
    display:inline-block;
    height:5px;
    margin-right:1px;
    width:20px;
}

/* end Password strength bar style */
